@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBALS */

* {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 19%);
  --light-accent: hsl(0, 0%, 100%, 75%);
}

[data-theme='dark'] {
  font-size: 12px;
  --text-primary: hsl(0, 0%, 100%);
  --dark-accent: hsl(0, 0%, 0%, 75%);
}

/* TYPOGRAPHY */

h1 {
  font-size: 100px;
}